---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="author-logo">
      <span class="hover-message">Let's connect on LinkedIn!</span>
      <div class="cover-author-image">
        <a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      </div>
      <div class="author-name">{{site.author}}</div>
      <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/content_00.png" alt="" style="-webkit-border-radius: 0%; border-radius: 0%;"></a>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Links</h3>
      <ul>
        <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="https://stackoverflow.com/users/{{ site.social-stackoverflow }}?tab=profile" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
        <li><a href="{{ site.url }}/feed.xml" target="_blank"><i class="fa fa-rss"></i></a></li>
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
